*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    /* background-color: violet; */
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("sign_up-pg-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    /* text-transform: uppercase; */
    background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand{
    padding: 5px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 16px;
    color:#fff ;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: turquoise;
}

.menu-bar .navbar-toggler{
    outline: none;
    border: turquoise 2px solid;
    margin-right: 5px;
}
.nav-link{
    padding-top: 10px;
}
/* .landing-page{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("sign_up-pg-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
} */
.headerset{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    color: white;
}
.headerset h1{
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    z-index: 1;
}
.headerset h2{
    padding-top: 9px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headerset h3{
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.headerset h6{
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
} 
.the-btn{
    border-width: medium;

}
